<!DOCTYPE html>
<html>
<head>
   <title>Easy Dash</title>
</head>
<body>
   <video id="videoPlayer" width="600" height="400" controls data-player-id="<%- locals.video_id %>"></video>
   <script type="text/javascript" src="/streaming-bundle.js" id_video="videoPlayer"></script>
</body>
</html>
